<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
	<div align="center">
		<h2>About DSR</h2>
		<p>A daily sales report (DSR) is a financial tool used to monitor
			sales team representatives and their daily activities. Especially
			useful when representatives are out of the office and in the field
			with clients, a DSR provides a record of their success on any given
			workday. Analyzing the monthly sales or weekly sales of a sales
			representative does not provide the same insight to management that
			examining daily sales does. Although the data in a monthly report
			would necessarily include some daily report data, daily reports are
			much more frequent and generally much more detailed. The most basic
			sales report template must make sure to list employee names, sales
			made, client names, and any distance traveled or phone calls
			executed. However, a more comprehensive report format may incorporate
			additional information. Additional sales performance data to include
			on report templates include the average time period for a lead to
			complete the sales cycle. Comparing daily sales objectives with daily
			sales quotas is also a great sales performance indicator. Report
			templates can designate the assigned territories of representatives
			and their daily conversion rate in that specific location, providing
			more insight into the specific sales process of a representative. The
			sales pipeline must be considered for a comprehensive DSR including
			the number of prospective clients and average deal size. Any meetings
			and sales call your sales team engages in should be noted on the
			report form as well as any important information discussed. Landing
			page conversion rates can also provide data on marketing and
			advertising campaigns. Ultimately your business's report format and
			report template should be specific to your company and its
			operations.</p>
	</div>
</body>
</html>